body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*		Google font	*/

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
	font-family: 'Mulish', sans-serif;
}
.navbar-brand{
	font-size:1.9rem !important;
	color:#673ab7 !important;
}
.navbar a:hover{
	color:#2196F3 !important;
}
.active_manu{
	font-weight:bold;
	border-bottom:1px solid #2196F3;
}





