body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*		Google font	*/

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
	font-family: 'Mulish', sans-serif;
}
.navbar-brand{
	font-size:1.9rem !important;
	color:#673ab7 !important;
}
.navbar a:hover{
	color:#673ab7 !important;
}
.active_manu{
	font-weight:bold;
	border-bottom:1px solid #2196F3;
}

.genarel{
	color:#777;
	font-size:17px;
	font-weight:500;
}
.br-2{
	border-radius:20px !important;
}
.animated{
	animation:up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down{
	0% {transform:translateY(10px);}
	100% {transform:translateY(-10px);}
}


.card-img-top {
    height: 230px;
}
.card-img-top:hover{
    transform: scale(1.12);
	transition-duration: 1s;
	
}
.card .img{
	overflow: hidden;
	height: 230px;
}








